*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

/* MAIN MENU */

.header{
    height: 140px;
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

.main_menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

.main_menu a{
    text-decoration: none;
    color: darkslategrey;
    font-weight: 400;
}

.main_menu li {
    list-style: none;
    margin-right: 10px;
    width: 140px;
    margin-top: 5%;
    box-shadow: 10px 10px 10px grey;
    font-family: monospace;
    border-radius: 100px;
    text-align: center;
}

.main_menu li:hover{
    transition-duration: 1s;
    box-shadow: 4px 5px 50px grey;
}

.main_menu{
    font-size: 18px;
}

/* WRAPPER */

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* CONTENT */

.content{
    width: 60%;
    margin: 100px auto 0;
    flex: 1 0 auto;
}


/* FOOTER */

.footer{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 15px;
    font-family: monospace;
    background-color: yellow;
    flex: 0 0 auto;
}